#  版本
version: "3.8"
# 服务
services:
  # 服务1 
  db:
    # 镜像
    image: postgres
    # 容器名称
    container_name: local_pgdb
    # 守护程序重新启动时的操作
    restart: always
    # 主机和容器端口 主机:54320 容器:5432 外露:54320
    ports:
      - "54320:5432"
    # 环境变量
    environment:
      # 用户名称
      POSTGRES_USER: goodway
      # 密码
      POSTGRES_PASSWORD: Guwei888
    # 将文件夹从主机挂载到容器 :前面是主机,后面是容器
    volumes:
      - local_pgdata:/var/lib/postgresql/data
  # 服务2
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: goodway5898@gmail.com
      PGADMIN_DEFAULT_PASSWORD: Guwei888
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  local_pgdata:
  pgadmin-data:
